:root{
    --Kaushan: 'Kaushan Script', cursive;
    --Bad: 'Bad Script', cursive;
    --Opensans: 'Open Sans', sans-serif;
}

.text-menu{
    font-family: var(--Opensans);
    font-size: 0.9rem;
    color: #5454d3;
    font-weight: 600;
}