.logo-carino{
    height: 35px;
    width: 225px;
}

.dinamic:hover{
    background-color: #ff0c5c;
    border-radius: 1.5rem;
    color: white !Important;
}

.active{
    background-color: #ff0c5c;
    border-radius: 2rem;
    color: white !Important;
}