.row{
    margin: 0 !Important;
}

.Background-Principal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/Bg_1.png);
    background-size: 100% 100%;
    height: 108%;
}

.Rotate-180{
    transform: rotate(180deg);
}

.Text-Absolute{
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.Img-Absolute{
    position: absolute;
    bottom: 40px;
}

.Img-Arrow{
    height: 20px;
    margin-top: 3px;
}

.Color-Button-Galery{
    background-color: #d33382;
}

.Card-Galery{
    height: 140px;
}

#preloader{
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

#loader{
    position: absolute;
    width: 40vw;
    margin-left: -20vw;
    margin-top: -20vh;
    height: 40vh;
    top: 50vh;
    left: 50vw;
    z-index: 1001;
}

#loader2{
    position: absolute;
    width: 22vw;
    margin-left: -11.2vw;
    margin-top: -11vh;
    height: 22vh;
    top: 50vh;
    left: 50vw;
    z-index: 1001;
}